---
layout: main
socialLinks:
    -   url: https://facebook.com/tysatidbitsOTM
        icon: <i class="fab fa-facebook-square"></i>
    -   url: https://instagram.com/over_the_moon_maine/
        icon: <i class="fab fa-instagram-square"></i>
    -   url: https://calendly.com/chatwithtysa
        icon: <i class="far fa-calendar-star"></i>
---

<nav>

    <div class="flex justify-end w-full absolute top-5 right-5 gap-3">
        {% include "partials/social-links.njk" %}
    </div>

    <div class="my-20 m-auto max-w-5xl">
        <img class="px-32" src="/assets/logo.png">
    </div>

</nav>

{% block content %}
    {{ content | safe }}
{% endblock %}

<footer>
    <div class="text-center m-auto mt-32 mb-5">
        <i class="far fa-copyright"></i> 2021 Over the Moon. All Rights Reserved.</div>
    <div class="flex justify-center w-full gap-3">
        {% include "partials/social-links.njk" %}
    </div>
</footer>
