{% for socialLink in socialLinks %}
    <a x-data="{ hover: false }" href="{{ socialLink.url }}" class="text-3xl" target="_blank"
                :class="hover ? 'text-button' : 'text-darkBase'"
                @pointerenter="hover = true" @pointerleave="hover = false"
            >
        {{ socialLink.icon | safe }}
    </a>
{% endfor %}
